* {
  margin: 0px;
  background-color: #212529;
  color: rgb(241, 234, 234);
}

* input {
  background-color: white;
  color: black;
}

.login-container {
  align-items: center;
  border: 3px solid black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 100px;
  width: 250px;
}

.header-container {
  display: flex;
  border: 1px solid white;
  justify-content: space-around;
  padding: 20px;
}

.header-title {
  display: flex;
  gap: 20px;
}

.header-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.wallet-container {
  align-items: center;  
  display: flex;
  height: 90px;
  justify-content: space-evenly;
}

.td-buttons {
  display: flex;
}

td, th {
  text-align: center;
}
